<html>
    <head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="page-header">
        <a href="{% url 'new_score' %}" class="top-menu">
        <span class="glyphicon glyphicon-plus"></span>
        </a>
        <h1>
            <a href="/">Leaderboard</a>
        </h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}


                {% endblock %}
            </div>
        </div>
    </div>
</body>



</html>