{% extends 'leaderboard/index.html'  %}
{% block content %}

<table class="table">
    <thead><!-- table heading field-->
        <th>Roll.No</th>
        <th> Name</th>
        <th><a href = "?order_by=score">  Score</a> </th>
    </thead>
    <tbody>
        {% for everyscore in scores%}
        <tr>
        <td>
            {{ everyscore.serialNo }}</td> 
        <td> 
           <a href="{% url 'score_detail' pk=everyscore.pk %}">
             {{ everyscore.name }}
            </a> 
        </td>
        <td>
             {{ everyscore.score }}
        </td>  
        {% endfor %}
        </tr>
    </tbody>   
</table>

{% endblock %}